In [1]:
import pandas as pd

## CLOSS output analysis and evaluation

In [8]:
df = pd.read_csv("../output/closs-output.csv")
df.head()

,Unnamed: 0,original_text,original_score,original_perplexity,counterfactual_text,counterfactual_score,counterfactual_perplexity,found_flip,frac_tokens_same
0,0,This movie was sadly under-promoted but proved...,0.999810,34.899414,This movie was recently under-promoted but pro...,0.224318,84.701691,True,0.930435
1,1,"On a dark, gloomy new year's eve night, an ill...",0.998378,42.523079,"On a dark, gloomy new year's eve night, an ill...",0.010024,44.452606,True,0.998047
2,2,Haines is excellent as the brash cadet who thi...,0.999730,135.480377,Haines is excellent as the brash cadet who thi...,0.459861,145.363571,True,0.984925
3,3,This movie states through its protagonist that...,0.000304,37.368465,This movie states through its protagonist that...,0.591664,45.895756,True,0.990291
4,4,Just saw this movie on opening night. I read s...,0.000141,30.122791,Just saw this movie on opening night. I read s...,0.809161,33.185787,True,0.988950

In [11]:
# remove the first column:
df = df.drop(df.columns[0], axis=1)
df.head()

,original_text,original_score,original_perplexity,counterfactual_text,counterfactual_score,counterfactual_perplexity,found_flip,frac_tokens_same
0,This movie was sadly under-promoted but proved...,0.999810,34.899414,This movie was recently under-promoted but pro...,0.224318,84.701691,True,0.930435
1,"On a dark, gloomy new year's eve night, an ill...",0.998378,42.523079,"On a dark, gloomy new year's eve night, an ill...",0.010024,44.452606,True,0.998047
2,Haines is excellent as the brash cadet who thi...,0.999730,135.480377,Haines is excellent as the brash cadet who thi...,0.459861,145.363571,True,0.984925
3,This movie states through its protagonist that...,0.000304,37.368465,This movie states through its protagonist that...,0.591664,45.895756,True,0.990291
4,Just saw this movie on opening night. I read s...,0.000141,30.122791,Just saw this movie on opening night. I read s...,0.809161,33.185787,True,0.988950

The metrics we want to calculate are:

- **Label flip score:** the percentage of the time the counterfactual flips the output of the classifier.
    - You can calculate this easily using the found flip column.
-  **Fraction of tokens changed:** the average fraction of tokens that are changed in the input when generating the counterfactual.
    - Calculate this using the frac_tokens_same column.
- **Perplexity:** the perplexity score of the generated counterfactual (lower is better)
    - Calculate the average perplexity for the original and counterfactual text.

In [12]:
label_flip_score = df["found_flip"]
label_flip_score.head()

0    True
1    True
2    True
3    True
4    True
Name: found_flip, dtype: bool